<div class="mt-24 bg-[#F2F3F0] py-12">
    <div class="container">
        <h4 class="opacity-80 text-2xl">
            Get the FreshCart app
        </h4>
        <p class="opacity-80">We will send you a link, open it on your phone to download the app.</p>
        <form class="flex flex-wrap mt-4 px-2 pb-8 border-b-2 border-solid border-gray-200">
            <div class="w-full md:w-10/12 2xl:w-11/12">
                <input type="text" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-[98%] p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Email .." required aria-required aria-label="Email"/>
            </div>
            <button class="mt-4 md:mt-0 py-2 md:py-0 w-3/12 md:w-2/12 2xl:w-1/12 bg-[#0bac08] rounded-md text-white hover:bg-[#197717]" type="submit">Share App Link</button>
        </form>
        <div class="py-5 px-2 border-b-2 border-solid border-gray-200 flex flex-wrap justify-between">
            <ul class="list-unstyled flex flex-wrap align-items-baseline">
                <span>Payment Partners</span>
                <li class="w-8 h-8 grid place-items-center ms-3"><img class="w-full" src="../../../assets/images/amazon-pay.png" alt="Amazon Pay"></li>
                <li class="w-8 h-8 grid place-items-center ms-3"><img class="w-full" src="../../../assets/images/American-Express-Color.png" alt="American Express"></li>
                <li class="w-8 h-8 grid place-items-center ms-3"><img class="w-full" src="../../../assets/images/mastercard.webp" alt="MasterCard"></li>
                <li class="w-8 h-8 grid place-items-center ms-3"><img class="w-full" src="../../../assets/images/paypal.png" alt="PayPal"></li>
            </ul>
            <div class="flex flex-wrap align-items-center mt-4 md:mt-0">
                <span class="mt-1">Get deliveries with FreshCart</span>
                <button class="min-w-20 max-w-20 ms-2"><img class="w-full" src="../../../assets/images/get-apple-store.png" alt="Apple Store App"></button>
                <button class="min-w-20 max-w-20 ms-2"><img class="w-full" src="../../../assets/images/get-google-play.png" alt="Apple Store App"></button>
            </div>
        </div>
    </div>
</div>