<div class="flex">
    <owl-carousel-o [options]="carouselOptions" class="d-block w-3/4">
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/slider-image-3.jpeg" alt="slider-image">
        </ng-template>
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/slider-image-2.jpeg" alt="slider-image">
        </ng-template>
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/slider-image-1.jpeg" alt="slider-image">
        </ng-template>
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/slider-2.jpeg" alt="slider-image">
        </ng-template>
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/grocery-banner.png" alt="slider-image">
        </ng-template>
        <ng-template carouselSlide>
            <img class="h-44 sm:h-56 md:h-80 lg:h-96" src="../../../../../assets/images/grocery-banner-2.jpeg" alt="slider-image">
        </ng-template>
    </owl-carousel-o>
    <div class="w-1/4">
        <img class="h-[5.5rem] sm:h-28 md:h-40 lg:h-48 w-full" src="../../../../../assets/images/slider-image-1.jpeg" alt="slider-image">
        <img class="h-[5.5rem] sm:h-28 md:h-40 lg:h-48 w-full" src="../../../../../assets/images/slider-image-2.jpeg" alt="slider-image">
    </div>
</div>