@if(productData) {
    <div class="flex flex-wrap items-center md:h-screen">
        <div class="w-full md:w-3/12">
            <owl-carousel-o [options]="carouselOptions" class="d-block w-3/4">
                @for(image of productData.images; track $index) {
                    <ng-template carouselSlide>
                        <img class="w-full" [src]="image" alt="slider-image">
                    </ng-template>
                }
            </owl-carousel-o>
        </div>
        <div class="w-full md:w-9/12 flex flex-col justify-center p-4 relative group shadow-xl">
            <h2>{{productData.title}}</h2>
            <p class="mt-4 mb-2 text-gray-400 opacity-70">{{productData.description}}</p>
            <span class="text-green-500">{{productData.category.name}}</span>
            <div class="flex justify-between">
                <span>{{productData.price}} EGP</span>
                <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i>{{productData.ratingsAverage}}</span>
            </div>
            <div class="flex justify-end">
                <button class="rounded-md text-white p-4 mt-6 bg-[#08AC0B] cursor-pointer hover:bg-[#197717] transition-all duration-200" (click)="this._Cart.frontAddProductToCart(productData._id)">Add To Cart <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></button>
            </div>
            <button class="absolute -end-full transition-all group-hover:end-0 top-0 translate-y-1/2 -translate-x-1/4 bg-[#ffe4e4] p-2 rounded-md shadow-xl hover:bg-[#cdb8b8]" (click)="this._Wishlist.frontAddProductToWishlist($event, productData._id)">
                <i class="heart-filled hidden fa-solid fa-heart text-red-700 text-4xl sm:text-2xl md:text-base"></i>
                <i class="heart-hollow  inline-block fa-regular fa-heart text-black text-4xl sm:text-2xl md:text-base"></i>
            </button>
        </div>
    </div>
}