<form class="w-9/12 mx-auto mt-28" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label class="text-2xl" for="emailInputReset">Enter you Email:</label>
    <input class="w-full mb-4 mt-2 p-1 rounded-md border-gray-300 focus:border-green-500 focus:ring-green-500" type="email" id="emailInputReset" formControlName="email">
    <p>Enter your email and a reset code will be sent shortly. </p>
    <div class="flex justify-end">
        <button class="py-2 px-4 mt-2 bg-green-500 hover:bg-green-600 disabled:bg-[#70CA79] disabled:cursor-not-allowed text-white rounded-md" [disabled]="forgotPasswordForm.invalid">
            @if(isLoading) {
                <span><i class="fa fa-spin fa-spinner"></i></span>
            }
            @else {
                <span>Reset</span>
            }
        </button>
    </div>
</form>